@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap");

@import "reset.css";
@import "variable.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/channel-component.css";
@import "components/badge.css";

/* Screens */
@import "screens/loginscreen.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/finds.css";

body {
  color: var(--grey);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-screen {
  margin: 0px var(--horizontal-margin);
}
