.fa-commment-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fa-comment-plus-overlay {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  right: 5px;
  bottom: -5px;
}
