.friends-display-link {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  margin: 5px var(--horizontal-margin);
  margin-top: -15px;
}

.friends-display-link span {
  margin: 0px 10px;
  color: rgba(0, 0, 0, 0.8);
}
