.friends-display-link {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin: 5px var(--horizontal-margin);
  color: rgba(0, 0, 0, 0.6);
}

.friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  padding: 0px 5px;
}
