.individual-chat {
  background-color: #abc1d0;
  width: 100%;
  height: 550px;
  margin-top: -80px;
}

.individual-chat__datetime {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

.individual-chat__datetime span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 35px;
  border-radius: 20px;
  color: white;
  font-weight: 250;
  background-color: #92a4b2;
}

.individual-chat__otherchat {
  margin: 25px 15px;
  display: flex;
}

.individual-chat__otherchat img {
  width: 30px;
  height: 30px;
  border-radius: 12px;
}

.individual-chat__otherchat-namemessage-align {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.individual-chat__otherchat-name {
  display: block;
  font-size: 14px;
}
.individual-chat__otherchat-messagetime {
  display: flex;
  align-items: flex-end;
}

.individual-chat__otherchat-messagetime span:first-child {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  color: black;
  font-size: 15px;
}

.individual-chat__otherchat-messagetime span:last-child {
  margin-left: 5px;
  font-size: 12px;
}

.individual-chat__ownchat {
  justify-content: flex-end;
}

.individual-chat__ownchat .individual-chat__otherchat-messagetime {
  flex-direction: row-reverse;
}

.individual-chat__ownchat span:first-child {
  background-color: var(--yellow);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  margin-left: 5px;
}

.individual-key__top {
  margin: 5px 0px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.individual-key__top p {
  color: black;
  font-size: 15px;
  margin-left: 10px;
}

.individual-key__top span:first-child :first-child {
  font-size: 30px;
  margin-left: 10px;
}

.individual-key__top span:nth-child(2) {
  display: flex;
  margin: 0px 10px;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100vh;
  border-radius: 25px;
  border: 1px solid var(--grey);
}

.individual-key__top-innericons {
  display: flex;
  align-items: center;
}

.individual-key__top-innericons i:first-child {
  font-size: 25px;
  margin-right: 10px;
}

.individual-key__top-innericons i:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #efd92c;
  background-color: var(--yellow);
  color: black;
  font-size: 25px;
  margin: 3px;
}

.individual-key__body {
  width: 100%;
  height: 240px;
  background-color: #d1d4d9;
}

.individual-key__body-keys {
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-key__body-keys__key {
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 48px;
  border-radius: 5px;
  border-bottom: 2px solid #9b9ea2;
  color: black;
  font-size: 25px;
  font-weight: 250;
  background-color: white;
}

.specialkey {
  width: 50px;
  background-color: #abb1ba;
}

.space {
  width: 140px;
}

.return {
  width: 80px;
}
