.welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px var(--horizontal-margin);
  text-align: center;
}

.welcome-header__title {
  font-size: 25px;
  color: rgba(48, 48, 48);
  margin-bottom: 20px;
}

.welcome-header__text1 {
  font-size: 15px;
  color: var(--grey);
}

.welcome-header__text2 {
  font-size: 15px;
  color: var(--grey);
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 20px var(--horizontal-margin);
}

#login-form input {
  height: 45px;
  border: none;
  border-bottom: 1px solid rgba(48, 48, 48, 0.3);
  margin-top: -10px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease-in-out;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid white;
  transition: border-color 03s ease-in-out;
}

#login-form input::placeholder {
  font-size: 15px;
  color: rgba(48, 48, 48, 0.3);
}

#login-form input:focus {
  outline: none;
  border-color: var(--yellow);
}

#button-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px var(--horizontal-margin);
}

.login-btn {
  height: 45px;
  margin: 10px 0px;
  border: none;
  border-radius: 5px;
  background-color: var(--yellow);
  cursor: pointer;
}

.signup-btn {
  height: 45px;
  margin: 0px 0px;
  border: none;
  border-radius: 5px;
  background-color: var(--yellow);
  cursor: pointer;
}

.find-auth {
  display: block;
  text-align: center;
  color: var(--grey);
  text-decoration: none;
  font-size: 13px;
  margin: 0px var(--horizontal-margin);
}
