.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
}

.badge-justpoint {
  background-color: tomato;
  border-radius: 50%;
  width: 5px;
  height: 5px;
}
