.nav {
  background-color: #fcfcfc;
  padding: 0px 25px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav__li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  position: relative;
  color: #2e363e;
  height: 40px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__notification {
  position: absolute;
  top: 0;
  right: -5px;
}
.nav__notification2 {
  background-color: tomato;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 6px;
  right: 2px;
}
