.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px var(--horizontal-margin);
}

.screen-header__title {
  font-size: 28px;
  color: black;
}
.screen-header__icons {
  display: flex;
  height: 30px;
  align-items: center;
  color: black;
}

.screen-header__icons span {
  margin: 0px 10px;
}
