.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px var(--horizontal-margin);
}

.screen-header__title {
  font-size: 28px;
  color: black;
}
.screen-header__icons {
  display: flex;
  height: 30px;
  align-items: center;
  color: black;
  position: relative;
}

.screen-header__icons i {
  margin: 0px 10px;
}

.screen-header__gear {
  position: absolute;
  top: 0;
  right: 0;
}
