.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px var(--horizontal-margin);
}

.screen-header__title {
  font-size: 28px;
}
.screen-header__icons span {
  padding-left: 15px;
}
